.project_card {
    cursor: default;
    border-radius: 10px;
    border: 1px solid #464646;
    transition: .5s;
    padding: 20px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px 10px;
    grid-template-areas:
            "title links"
            "content content"
            "stack stack";
}

.project_card:hover {
    border-color: #eee;
}

.title {
    grid-area: title;
}

.project_name{
    font-weight: bold;
    font-size: large;
    color: #ff3559;
}

.project_type{
    color: #575757;
}

.content {
    grid-area: content;
}

.links {
    grid-area: links;
    text-align: right;
    margin: 3px;
}

.links a {
    text-decoration: none;
    transition: .5s;
    opacity: 0.5;
}


.links a:hover {
    opacity: 1;
}

.links a img{
    height: 25px;
    border-radius: 50%;
}

.stack {
    grid-area: stack;
}



