.about {
    width: 100%;
    height: auto;
    padding: 50px 10vw;
}

.heading {
    text-align: center;
    font-weight: 500;
    font-size: 3.5rem;
}

.seperator {
    width: 25%;
    margin: 20px auto;
    position: relative;
}

.about_me_container {
    margin: 150px 0 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 50px;
}

.left_col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.about_image {
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.about_text {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 40px;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    background: #ff3559;
    color: #fff;
    text-transform: capitalize;
    border: none;
}

.skill_container {
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cert_container {
    position: relative;
    margin: 100px 0 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.highlight {
    color: #ff3559;
}

.seperator{
    width: 25%;
    margin: 20px auto;
    position: relative;

}

.seperator::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

.seperator::after{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

@media (max-width: 1200px) {
    .about {
        padding: 50px 20px;
    }

    .cert_container, .skill_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .cert_container, .skill_container {
        grid-template-columns: repeat(2, 1fr);
    }  }

@media (max-width: 768px) {
    .cert_container, .skill_container, .about_me_container {
        grid-template-columns: repeat(1, 1fr);
    }
}


