.home{
    width: 100%;
    min-height: calc(100vh - 60px);
    height: auto;
    margin-top: 60px;
    padding: 0 10vw;
    align-items: center;
    justify-content: space-between;
    position: relative;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
            "hero-content profile-photo";
}
.hero-content {
    width: 50%;
    grid-area: hero-content;
}
.hero-heading{
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: 500;
}
.highlight{
    color: #ff3559;
}
.profession{
    width: fit-content;
    display: block;
    margin: 10px 0 20px;
    margin-left: auto;
    text-transform: capitalize;
    position: relative;
    padding: 10px 20px;
    color: #1d1d1d;
    z-index: 2;
}
.profession::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    z-index: -1;
    transform: skewX(10deg);
}
.profession::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 100px;
    height: 2px;
    background: #e3e3e3;
}
.info{
    line-height: 30px;
    margin-bottom: 50px;
}
.btn{
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    background: #ff3559;
    color: #fff;
    text-transform: capitalize;
    border: none;
}

.profile-photo { grid-area: profile-photo; }

.profile-photo img{
    height: 550px;
    border-radius: 200px;
}
