.cert_card {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #464646;
    transition: .5s;
    opacity: 0.5;
    padding: 30px 10px;
}

.cert_card:hover{
    opacity: 1;
}

.content {
   text-align: center;
}



a {
    text-decoration: none;
    color: white;
}
