.developed {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 20px;
    grid-auto-flow: row;
    grid-template-areas:
            "head logo"
            "source-link logo";
    margin: 50px 0 50px;
}

.logo { grid-area: logo; }

.head {
    grid-area: head;
    text-align:right;
}

.source-link{
    grid-area: source-link;
    text-align:right;
}

.source-link a {
    color: #ff3559;
    margin:0;
    padding: 0;
}

